
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sudan Mining Hub v2</title>

<link rel="stylesheet" href="/static/css/smh-ui.css">
<link rel="stylesheet" href="/static/css/layout.css">

</head>


<body>

<div class="smh-shell">


{% include "partials/header.html" %}


<div class="smh-body">


{% include "partials/sidebar.html" %}


<main class="smh-content">

{% include "partials/breadcrumbs.html" %}

{% block content %}
{% endblock %}

</main>


</div>


{% include "partials/footer.html" %}


</div>


<script src="/static/js/layout.js"></script>

</body>

</html>
