# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Databases & local storage
*.db
*.sqlite3
static/uploads/assets/*
!static/uploads/assets/.gitkeep

# Termux / OS temporary files
.DS_Store
.thumbs
