*{
box-sizing:border-box;
user-select:none;
}


input,button{
user-select:auto;
}


body{

margin:0;
background:#050d18;
color:white;
font-family:Arial,Tahoma,sans-serif;

}


.page{

width:100%;
min-height:100vh;
padding:15px;

}


.top{

display:flex;
justify-content:space-between;
align-items:center;

}


.logo{

font-size:22px;
font-weight:bold;
color:#d4af37;

}


.tools button{

background:none;
border:1px solid #d4af37;
color:white;
padding:8px;
border-radius:8px;

}


.gold-card{

display:flex;
gap:10px;
margin:25px 0;

}


.gold-card div{

flex:1;
background:#101c2d;
padding:15px;
border-radius:15px;
text-align:center;

}


.login-box{

background:rgba(255,255,255,.08);
padding:25px;
border-radius:20px;
border:1px solid #d4af37;

}


input{

width:100%;
padding:15px;
margin:8px 0;

background:#020812;
color:white;

border-radius:10px;
border:1px solid #555;

font-size:16px;

}


.password-box{

display:flex;

}


.password-box button{

width:55px;

}


button{

cursor:pointer;

}


.login{

width:100%;
padding:15px;
margin-top:15px;

background:#d4af37;
border:0;
border-radius:10px;

font-weight:bold;

}


.forgot{

display:block;
margin-top:15px;
color:#d4af37;

}


.visitor{

width:100%;
padding:15px;
margin:20px 0;

background:#101c2d;
color:white;

border-radius:10px;

}


.updates,
.bank,
.contact{

background:#101c2d;
padding:20px;
margin-top:15px;

border-radius:15px;

}


footer{

text-align:center;
padding:25px;
font-size:13px;

}



@media(min-width:700px){

.page{

max-width:500px;
margin:auto;

}

}
