<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
<meta charset="UTF-8">
<title>{{ t("ui_0425") }}</title>
</head>

<body>

<h1>{{ t("ui_0426") }}</h1>

<p>
{{ t("ui_0427") }}
</p>

<h2>{{ t("ui_0428_1") }}</h2>
<p>
{{ t("ui_0429") }}
</p>

<h2>{{ t("ui_0430_2") }}</h2>
<p>
{{ t("ui_0431") }}
</p>

<h2>{{ t("ui_0432_3") }}</h2>
<p>
{{ t("ui_0433") }}
</p>

<h2>{{ t("ui_0434_4") }}</h2>
<p>
يلتزم {{ t('users') }} بالشروط والاتفاقات المعتمدة أثناء استخدام خدمات المنصة.
</p>

<footer>
Sudan Mining Hub v1.0
</footer>

</body>
</html>
